<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <h1>Software Engineering Skills</h1>
    <ul>
        <% skills.forEach(function(t, idx) { %>
            <li>
                <a href="/skills/<%= idx %>"><%= t.skill %></a>
                -
                <%= t.learned ? 'Experienced' : 'Need to Learn' %>
            </li>
      <%  }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>