<!DOCTYPE html>
<html>
  <head>
    <title>Will's Dev Skills DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Software Engineering Skills!</h1>
    <h3>Click on the link below to create your list of dev skills that you know or would like to know!</h3>
    <a href="/skills">Skill List</a>
  </body>
</html>
