body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #00B7FF;
}

div {
  margin-top: 10px;
}

.delete-form {
  display: inline;
  margin-right: 10px;
}

.delete-form button {
  color: red;
  background-color: black;
  
}

li {
  list-style: none;
}